body {
  background-color: #0a1521;
  font-family: "montserrat";
  font-size: 15px;
}
h1,
h2,
h3,
h4 {
  color: #cc5a71;
}

p {
  color: #fffffc;
}

a {
  color: #fffffc;
}
ol {
  color: #fffffc;
}

.skills {
  font-size: 20px;
}
